<div id="holder">
    
    	<div class = "row-fluid mywhite stage">
    		<div class="span4">
    			<h1>
    				We are re-thinking Aso Ebi
    			</h1>
    		</div>
  			<div class="span8">
  				<ul>
  					<li> Customise your own designs, patterns and colours for various African fabrics – Lace, Woodin and Wax Print</li>
  					<li> Order Samples for as low as ₦50/yard</li>
  					<li> Easily set up your occasion website, set your own price and receive orders online</li>
  					<li> We make and deliver your designs and then pay you your profit.</li>
  					<li> After your occasion, you can then sell your designs in our marketplace</li>
  				</ul>

  				<form action= "http://billing.ideyforhere.com/domainchecker.php?currency=3" method="post">
					<input class="input-xxlarge myinput" type="text" name="domain" placeholder = "Enter your email for an early invite!"/>
					<input class="btn btn-success btn-large" type="submit" value="Request an Invite!" />
				</form>
  				
  			</div>
    		
    	</div>
 
</div>